  @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@600&family=Maitree:wght@400&display=swap');

p#message{
    color: blueviolet;
}
h1.title{
    color: orange;
    font-size: 16px;
}
    /* Optional: Style line numbers */
    pre {
        counter-reset: line;
        white-space: pre-line;
        max-height: 400px; /* Adjust the maximum height as needed */
        overflow: auto;   /* Add vertical scrolling */
      }
  
      code::before {
        content: counter(line);
        counter-increment: line;
        padding-right: 1em;
        color: #999; /* Line number color */
        display: inline-block;
      }
      code {
        color: #333; /* Code text color */
        font-family: 'Courier New', monospace; /* Optional: Use monospace font */
      }
pre.box{
    border: 1px solid black;
    width: auto;
    height: auto;

}
p.fn{
  font-family: 'Anuphan', sans-serif;
  font-size:2em;
  color:cadetblue;
}
.prph{
  font-family: 'Maitree', serif;
  font-size:1em;
  color:cadetblue;
}
h1 {
    text-align: center;
}

/*แบ่งcolumns*/
.container {
    display: flex;
}

.left {
    width: 50%;
    background: rgb(224, 242, 248);
    padding: 10px;
}

.right {
    width: 50%;
    background: rgb(219, 248, 219);
    padding: 10px;
}
footer {
    margin-top: 20px;
    background: #f1f1f1;
    border-top: 2px solid #ddd;
    text-align: center;
    padding: 20px;
    font-family: 'Maitree', serif;
}

.horizontal-list {
  display: flex;
  list-style-type: none; /* เอาจุดกลมๆ หน้า li ออก */
  padding: 0;
  margin: 0;
  gap: 20px; /* กำหนดระยะห่างระหว่างแต่ละ li */
}
